@charset "utf-8";

@import url("../css/index.css");
@import url("../script/index.js");
@import url("../css/main.css");
@import url("../script/main.js");


body{
    background-color: #eee;
    overflow: hidden;
    /* overflow: hidden; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: bottom;
}
table{
    border-collapse: collapse;
}
.c_fix::before, .c_fix::after{
    content: "";
    display: block;
    clear: both;
}
